.logo{
    height: 3.25rem;
    margin-left: 2rem;
}

.search{
    flex: 0 0 40%;

    // nested flexbox
    // center the search icon vertically
    display: flex;
    // center the search icon in cross axis
    align-items: center;
    // center the search icon in main axis
    justify-content: center;

    &__input{
        // input does not inherit the global font by default
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: var(--color-grey-light-2);
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        // add animation
        transition: all .3s;
        // make the button move on top of the input
        margin-right: -3.25rem;

        // expand the search bar when click
        &:focus{
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder{
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }
    // + is adjacent selector
    &__input:focus + &__button{
        background-color: var(--color-grey-light-3);
    }

    &__button{
        border: none;
        background-color: var(--color-grey-light-3);

        &:focus{
            outline: none;
        }

        &:active{
            transform: translateY(2px);
        }
    }

    &__icon{
        height: 2rem;
        width: 2rem;
        // change the color of the icon
        fill: var(--color-grey-dark-3);
    }
}

.user-nav{
    // expand the two icon and image vertically
    align-self: stretch;
    
    display: flex;
    align-items: center;

    // select the two icons and the image
    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;

        // display the icons vertically center
        display: flex;
        align-items: center;
    }

    & > *:hover{
        background-color: var(--color-grey-light-2);
    }

    &__icon-box{
        position: relative;
    }

    &__icon{
        height: 2.25rem;
        width: 2.25rem;
        // change the color of
        fill: var(--color-grey-dark-2);
    }

    &__notification{
        font-size:  .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: white;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        // center the number
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user-photo{
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;
    }
}

.side-nav{
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item{

    }

    &__link:link,
    &__link:visited{
        color: var(--color-grey-light-1);
        // remove underline
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
    }

    &__icon{
        width: 1.75rem;
        height: 1.75rem;
        margin-right: 1rem;
        // use the current or parent element
        fill: currentColor;
    }
}

.legal{
    color: var(--color-grey-light-4);
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
}