.container{
    // make the container smaller if there is not enough space
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header{
    font-size: 1.4rem;
    height: 7rem;
    background-color: white;
    border-bottom: var(--color-grey-light-2);

    display: flex;
    // add equal space between each flex item
    justify-content: space-between;
    // center the flex item vertically
    align-items: center;
}

.content{
    // display the sidebar and cafe-view side by side
    display: flex;
}

.sidebar{
    background-color: var(--color-grey-dark-1);

    // first number is to make it big
    // second number is to make it small
    // third number is how much it take up space
    flex: 0 0 18%;

    display: flex;
    // change the direction to apply justify-content from top to bottom
    flex-direction: column;
    // add space between the nav list and legal text horizontally
    justify-content: space-between;
}

.cafe-view{
    background-color: white;
    
    // for testing
    height: 80rem;

    // This will make the cafe-view as big as possible
    flex: 1;
}