.container{
    // make the container smaller if there is not enough space
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header{
    height: 7rem;
    background-color: white;
    border-bottom: var(--color-grey-light-2);
}

.content{

}

.sidebar{
    background-color: var(--color-grey-dark-1);
}

.cafe-view{
    background-color: white;
}