.container{
    // make the container smaller if there is not enough space
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: 0 2rem 6em rgba(0, 0, 0, .3);

    min-height: 50rem;
}

.header{

}

.content{

}

.sidebar{

}

.cafe-view{

}